:root {
    --background-color-body: #f0f0f0;
    --background-color-container: #fff;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
    --color-h1: #333;
    --color-p: #666;
    --color-square: #007bff;
    --color-square-hover: #0056b3;
    --color-square-text: white;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color-body);
}

main {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

article {
    padding: 20px;
    background-color: var(--background-color-container);
    border-radius: 8px;
    box-shadow: 0 0 10px var(--box-shadow-color);
    text-align: center;
}

article #logo {
    margin-top: 20px;
    width: 80px;
    height: auto;
}

article h1 {
    color: var(--color-h1);
}

article p {
    color: var(--color-p);
}

article a {
    color: var(--color-square);
}
/*
article a:hover {
    text-decoration: none;
}
*/

article .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

article .grid .square {
    display: flex;
    width: 400px;
    height: 100px;
    background-color: var(--color-square);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--color-square-text);
}

article .grid .square:hover {
    background-color: var(--color-square-hover);
}

footer {
    margin-top: 50px;
}

footer p {
    margin: 0;
}

footer div {
	float: right;
	text-align: right;
	width: 100%;
}

footer div:nth-child(2) {
	margin-bottom: 50px;	
}

footer img {
    width: 225px;
	height: auto;
    margin-bottom: 10px;
}

@media screen and (max-width: 290px) { /* En pantalles menors de 290px */
    footer img {
        width: 100%;
    }
	main {
		padding: 5px;
	}
	h1 {
		font-size: 25px;
	}
}
