<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Xavier Baubes">
    <meta name="description" content="Lloc web on trobaràs material de docència informàtica actualitzat i en català">
    <meta name="keywords" content="SMX, DAM, DAW, ASIX, FP, cicle formatiu, informatica, CSS, HTML, Javascript, FTP, git, xarxes, sistemes, bases de dades, aplicacions, web, desenvolupament, programacio">
    <title>Docència informàtica</title>
    <link rel="shortcut icon" type="image/x-icon" href="../assets/icons/frontend-web-logo.ico">
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="../module.css">
    <link rel="stylesheet" href="../pages.css">
    <script src="../components.js" type="text/javascript" defer></script>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WLW0ETK1PT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WLW0ETK1PT');
</script>
<body>

    <main>

        <nav class="icon-container icon-container-module-content"></nav>

        <article>
            <h1 class="titleBar">TITOL</h1>

            <section class="menu">
                <ul>
                    <li><a href="#id1">1</a></li>
                    <li><a href="#id2">2</a></li>
                    <li><a href="#id3">3</a></li>
                    <li><a href="#id4">4</a></li>
                    <li><a href="#id4">i est nec odio. Vestibulum ante ipsum primis in faucibus orci luctus
                        et ultrices posuere cubilia Curae; Pellentesque habitant </a></li>
                    <li><a href="#id4">4</a></li>
                </ul>
            </section>

            <section id="intro" class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nullam vehicula, lectus quis pharetra tempor, magna ipsum scelerisque nisi,
                    ac gravida orci est nec odio. Vestibulum ante ipsum primis in faucibus orci luctus
                    et ultrices posuere cubilia Curae; Pellentesque habitant morbi tristique senectus et netus
                    et malesuada fames ac turpis egestas. Sed fringilla lobortis neque, eu dignissim turpis efficitur sit amet. Curabitur vestibulum tortor a
                    sapien dictum, eu tincidunt libero eleifend. Donec condimentum, lacus ac finibus cursus, ex ligula ultricies mi, ut condimentum odio sapien sit
                    amet justo. Nullam et hendrerit turpis. Integer non massa vitae felis mollis cursus a a nunc. Ut in nisi et nunc volutpat vestibulum. Fusce in diam
                    vitae arcu lacinia fermentum ac sed risus. Suspendisse volutpat ipsum magna, vitae elementum risus aliquet et.
                </p>
            </section>
            
            <section id="id1" class="content">
                <h3>1111111111111</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nullam vehicula, lectus quis pharetra tempor, magna ipsum scelerisque nisi,
                    ac gravida orci est nec odio. Vestibulum ante ipsum primis in faucibus orci luctus
                    et ultrices posuere cubilia Curae; Pellentesque habitant morbi tristique senectus et netus
                    et malesuada fames ac turpis egestas. Sed fringilla lobortis neque, eu dignissim turpis efficitur sit amet. Curabitur vestibulum tortor a
                    sapien dictum, eu tincidunt libero eleifend. Donec condimentum, lacus ac finibus cursus, ex ligula ultricies mi, ut condimentum odio sapien sit
                    amet justo. Nullam et hendrerit turpis. Integer non massa vitae felis mollis cursus a a nunc. Ut in nisi et nunc volutpat vestibulum. Fusce in diam
                    vitae arcu lacinia fermentum ac sed risus. Suspendisse volutpat ipsum magna, vitae elementum risus aliquet et.
                </p>
            </section>

            <section id="id2" class="content">
                <h3>2</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nullam vehicula, lectus quis pharetra tempor, magna ipsum scelerisque nisi,
                    ac gravida orci est nec odio. Vestibulum ante ipsum primis in faucibus orci luctus
                    et ultrices posuere cubilia Curae; Pellentesque habitant morbi tristique senectus et netus
                    et malesuada fames ac turpis egestas. Sed fringilla lobortis neque, eu dignissim turpis efficitur sit amet. Curabitur vestibulum tortor a
                    sapien dictum, eu tincidunt libero eleifend. Donec condimentum, lacus ac finibus cursus, ex ligula ultricies mi, ut condimentum odio sapien sit
                    amet justo. Nullam et hendrerit turpis. Integer non massa vitae felis mollis cursus a a nunc. Ut in nisi et nunc volutpat vestibulum. Fusce in diam
                    vitae arcu lacinia fermentum ac sed risus. Suspendisse volutpat ipsum magna, vitae elementum risus aliquet et.
                </p>
            </section>

            <section id="id3" class="content">
                <h3>3</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nullam vehicula, lectus quis pharetra tempor, magna ipsum scelerisque nisi,
                    ac gravida orci est nec odio. Vestibulum ante ipsum primis in faucibus orci luctus
                    et ultrices posuere cubilia Curae; Pellentesque habitant morbi tristique senectus et netus
                    et malesuada fames ac turpis egestas. Sed fringilla lobortis neque, eu dignissim turpis efficitur sit amet. Curabitur vestibulum tortor a
                    sapien dictum, eu tincidunt libero eleifend. Donec condimentum, lacus ac finibus cursus, ex ligula ultricies mi, ut condimentum odio sapien sit
                    amet justo. Nullam et hendrerit turpis. Integer non massa vitae felis mollis cursus a a nunc. Ut in nisi et nunc volutpat vestibulum. Fusce in diam
                    vitae arcu lacinia fermentum ac sed risus. Suspendisse volutpat ipsum magna, vitae elementum risus aliquet et.
                </p>
            </section>

            <section id="id4" class="content">
                <h3>4</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nullam vehicula, lectus quis pharetra tempor, magna ipsum scelerisque nisi,
                    ac gravida orci est nec odio. Vestibulum ante ipsum primis in faucibus orci luctus
                    et ultrices posuere cubilia Curae; Pellentesque habitant morbi tristique senectus et netus
                    et malesuada fames ac turpis egestas. Sed fringilla lobortis neque, eu dignissim turpis efficitur sit amet. Curabitur vestibulum tortor a
                    sapien dictum, eu tincidunt libero eleifend. Donec condimentum, lacus ac finibus cursus, ex ligula ultricies mi, ut condimentum odio sapien sit
                    amet justo. Nullam et hendrerit turpis. Integer non massa vitae felis mollis cursus a a nunc. Ut in nisi et nunc volutpat vestibulum. Fusce in diam
                    vitae arcu lacinia fermentum ac sed risus. Suspendisse volutpat ipsum magna, vitae elementum risus aliquet et.
                </p>
            </section>

            <div class="scroll-to-top"></div>

        </article>

        <footer></footer>

    </main>

</body>
</html>
