#principal {
    margin: 0;
    display: flex;
    flex-direction: column;
}

#nou {
    display: flex;
    height: 70vh;
}

#mapaFauna { /* cal definir una alcada pel contenidor del mapa*/
    flex: 2;
    height: 100%;
}

#panel {
    flex: 1;
    padding: 10px;
    background: var(--light-padding);
    overflow-y: auto;
}
